.main_menu_container {
    -fx-background-color: #EEEEEE;
    -fx-alignnment: center;
}

.left_container {
    -fx-background-color: #FFFFFF;
    /*-fx-background-color: #123A13;*/
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

.title_container {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20 20 0 0;
    -fx-alignment: top_center;
    -fx-padding: 10;
}

.title_container FontAwesomeIconView {
    -fx-fill: #132A13;
    /*-fx-background-color: #132A13;*/
}

.title_container Text{
    -fx-fill: #000000;
    -fx-font-size: 2em;
}

/* Navigation Section */
.menu_container {
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
}

.menu_container Button {
    -fx-pref-height: 115;
    -fx-pref-width: 125;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}

.menu_container Button:hover {
    -fx-cursor: hand;
    /*-fx-background-color: #32d732*/
    -fx-text-fill: #32d732;
    /*-fx-fill: #32d732;*/
}

.menu_container_btn:hover FontAwesomeIconView {
    -fx-fill: #32d732;
}

.menu_container Button FontAwesomeIconView {
    -fx-fill: #132A13;
}

.alt_menu_btn {
    -fx-pref-height: 115;
    -fx-pref-width: 125;
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-alignent: center_left;
}

.alt_menu_btn FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.alt_menu_btn:hover FontAwesomeIconView {
    -fx-fill: #32d732;
}

/* Report Bug/Suggestion */
.report_container {
    -fx-background-color: #ccedd1;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10 0 10 0;
}

.report_container Text {
    -fx-font-weight: bold;
    -fx-fill: #132A13;
}

.report_container Label {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.report_container Button {
    -fx-pref-width: 80;
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
}

.report_container Button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #32d732;
}

.report_container Button FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}









